<br><br><br>
<%# <%= flash[:notice] %> %>
<%# <br> %>
<%# <%= @user.name %> %>
<%# <%= link_to("編集","/users/#{@user.user_id}/edit") %>  %>
<%# <%= link_to("削除",user_path(hide: 1),method: :patch, data: {confirm: '削除してもよろしいですか？'}) %> %>
<%# <% if @user.salary.blank? %> %>
<%# <p class="alert">※コストを入力してください</p> %>
<%# <% end %> %>

<%# <p>コスト（時間単価）：<%= @user.salary %> 円/時</p> %>